<!DOCTYPE html>
<html lang="en">
<head>
   <script src="https://unpkg.com/vue@2.6.10/dist/vue.js" ></script>
    <title>vuejs</title>
</head>
<body>
    <div id="outer">

        <input type="text" v-model="maths" placeholder="Maths marks">
    <input type="text" v-model="science" placeholder="Science marks">
    <input type="text" v-model="english" placeholder="English marks">

     <h3>Total Marks: {{ totalSubjectMarks }}</h3>

    <br>
    <br>

<br/><br/>
<form  class="" action="">
<input type="text" v-model="name" placeholder="name.."><p>{{name}}</p><br/><br/>
<input type="text" v-model="email" placeholder="email."><h3>{{email}}</h3>


<br>
<br>
fullName: {{ fullname }}

</form>




    </div>
    
</body>
</html>
<script src="v-model.js">

</script>